[alias]
    undo = reset --soft HEAD^
    ignore = update-index --skip-worktree
    unignore = update-index --no-skip-worktree
    s = status
    stashy = git stash push -u --keep-index
    ac = "!f() { git add . && git commit -m \"$1\"; }; f"
    acp = "!f() { git add . && git commit -m \"$1\" && git push; }; f"
    update = "!f() { git fetch origin develop && git merge origin/develop; }; f"

[merge]
    conflictstyle = zdiff3

[push]
    autoSetupRemote = true

[user]
	email = alex.dickson@immfly.com
	name = Alex
